body {
    font-family: Arial, sans-serif;
    background-color: #bababa;
}

h1 {
    font-size: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #858484;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li {
    float: left;
    border-right: 1px solid #bbb;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

div.main {
    margin-top: 60px;
    padding-bottom: 100px;
}

#titulo img {
    border-radius: 5%;
}

#titulo, #actividades, #sistema, #codigo, #reporte {
    margin: 20px 0;
    padding-top: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#actividades a {
    display: block;
}

#sistema img {
    border-radius: 1%;
}

#reporte {
    list-style-position: inside;
    max-width: 600px;
    text-align: justify;
}

#reporte li{
    list-style-type: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #858484;
    color: white;
    text-align: center;
}